* {
  box-sizing: border-box;
}
.App {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.App-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: "#ffffff0f";
  backdrop-filter: blur(5px);
  z-index: 10;
  overflow: hidden;
}

.App-header {
  background-color: #e5e5e5;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  overflow: hidden;
}

.App-config {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #171717;
  border-radius: 10px;
  width: 450%;
  padding: 20px 30px;
  gap: 12px;
}

.App-textarea {
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
}

.App-file-title {
  width: 100%;
  font-size: 18px;
  text-align: left;
}

.App-file-name {
  width: 100%;
  font-size: 14px;
  text-align: left;
}
.App-submit-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.App-submit {
  width: 120px;
  height: 30px;
}

.App-submit:hover {
  cursor: pointer;
}

.App-disable {
  text-decoration: line-through;
  width: 120px;
  height: 30px;
}

.App-chatbox {
  min-width: 55%;
  max-width: 55%;
  width: 55%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  overflow-y: hidden;
  padding: 24px;
  gap: 10px;
}

.chat-container {
  width: 100%;
  overflow-y: scroll;
  border-bottom: 1px #aaa solid;
}

.chat-user {
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: right;
}

.chat-rag {
  width: 100%;
  display: flex;
  justify-content: start;
  text-align: left;
}

.chat {
  border: 1px solid #eee;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px 10px;
  width: 60%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.chat-input-container {
  width: 100%;
}
